.main-nav-items {
  display: flex;
  align-items: center;
}

.main-nav-link {
  color: hsl(0, 0%, 100%);
}

.main-nav-item {
  margin: 0 1em;
}

@media screen and (max-width: 901px) {
  .main-navigation {
    display: none;
  }
}
